<settings>
 <servers>
  <server>
   <id>localhost</id>
   <configuration>
    <cargo.tomcat.manager.url>http://localhost:8080/manager</cargo.tomcat.manager.url>
    <cargo.remote.username>installer</cargo.remote.username>
    <cargo.remote.password>password</cargo.remote.password>
   </configuration>
  </server>
 </servers>
</settings>

