body {
    color: #23476b;
    padding: 0px;
    margin: 0px;
}

div.duplicateDescriptor {
    border-color: #AA0000;
    background-color: #F8F8EE;
    border-style: solid;
    padding: 3px;
}

img {
    border-style: none;
}

table {
    border-style: none;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul.navLinkUL {
    margin: 0;
    padding: 0;
}

#navBarContainer {
    min-width: 1280px;
    position: relative;
    margin: 0px;
}

#pageHeaderContainer {
    padding: 1px 0px;
    background-color: #FFFFFF;
}


/*@media all and (min-width: 1280px) {*/
/*  .site_container {*/
/*    width: 1280px;*/
/*  }*/
/*}*/


@media all and (min-width: 1280px) {
    .site_container {
        margin: 0px 30px !important;
        /*width: 1280px;*/

    }
}

/*@media all{*/
/*  .site_container {*/
/*    width: 1280px;*/
/*  }*/
/*}*/

.site_container {
    /*margin: 0px 40px !important;*/

    min-width: 1280px;
}


/*@media all and (min-width: 1280px) {*/

/*  .site_container_pic {*/
/*    width: 1280px;*/
/*  }*/
/*}*/

@media all and (min-width: 1280px) {
    .site_container_pic {

        margin: 0px 0px !important;


        /*width: 1280px;*/

    }


}

/*@media all{*/
/*  .site_container_pic {*/
/*    width: 1280px;*/
/*  }*/
/*}*/

.site_container_pic {

    /*margin: 0px 0px !important;*/


    min-width: 1280px;

}


#pageTitleContainer {
    float: left;
}

#pageLogo a {

}

#pageTitle a {
    color: #667A99;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.titleSubText {
    line-height: 25px;
}

.titleSubText a {
    font-size: 12px;
    background-color: #DDE6E5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 1px 5px;
}

.titleSubText a:hover {
    background-color: lightgrey;
    text-decoration: none;
}

#quickSearchContainer {
    float: right;
    margin-right: 6px;
}

.searchButton {
    background-color: #EEEEEE;
    border: 1px solid #7D95B9;
    color: #002255;
    font-size: 12px;
    font-weight: bolder;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    padding: 2px;
}

.linkButton {
    border-style: none;
    background-color: #F8F8FF;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
    color: blue;
}

.linkButtonCurrent {
    border-style: none;
    background-color: #AAB3E2;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
    color: blue;
}


#navigationLinksContainer,
#adminLinksContainer {
    font-size: 15px;
    padding: 0;
    min-width: 1280px;
    overflow: hidden;
}

#navigationLinksContainer {
    background-color: #113D34;
    height: 60px;
    overflow: hidden;
    font-size: 16px;
}

#adminLinksContainer {
    background-color: #113D34;
    height: 60px;
    overflow: hidden;
    font-size: 16px;
}


#submissionLinksContainer {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #5577AA none repeat scroll 0 0;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    min-width: 800px;
    margin: 0;
    padding: 0;
}

.NavLinkItem {
    /*margin: 3px 3px 3px 0px;*/
    padding: 0;
    background-color: #113D34;
    height: 35px;
    padding-top: 15px;

    list-style-type: none;
    float: left;
}

.NavLinkImage {
    padding: 0;
    height: 35px;
    padding-top: 15px;
    list-style-type: none;
    float: left;
}

.NavLinkImage:hover {
    filter: brightness(0.5);
}

.quicksearch_button {

}

.quicksearch_button:hover {
    filter: brightness(0.5);
}

.NavLinkItem.current,
.NavLinkItem.nav-mouselist.current {

}

#navigationLinks li:nth-child(1) {
}

#navigationLinks li:nth-child(2) {
}

#navigationLinks li:nth-child(3) {
}

#navigationLinks li:nth-child(4) {
}

#navigationLinks li:nth-child(5) {
}

#navigationLinks li:nth-child(6) {
}

#adminLinks li {
    /*background-color: #4DA0C0;*/
}

.NavLinkItem.pull-right {
    float: right;
    margin-right: 0px;
    margin-left: 3px;
}

.NavLinkItem.small {
    font-size: 12px;
}

#navigationLinks li:hover,
#adminLinks li:hover {
    text-decoration: none;
}

a.navBarAnchor {
    padding: 0 12px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

a.navBarAnchor:hover {
    filter: brightness(0.5);
}

a.navBarAnchor:link {
    text-decoration: none;
    color: #FFFFFF;
}

a.navBarAnchor:visited {
    color: #FFFFFD;
    text-decoration: none;
}

.mouseTable {
    width: 100%;
    border-spacing: 0px;
}


.mouseSubDetail {
    line-height: 145%;
    margin-left: 20px;
}

.mouseComment {
    line-height: 130%;
}

.bp_invalid {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 222.8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*text-emphasis: #23476b;*/
    /*font-style: italic;*/
}

.bp_valid {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 222.8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*text-emphasis: #23476b;*/
    /*font-style: italic;*/
}

tr {
    border-style: none;
    padding: 5px;
    margin: 3px;
}

tr.headerRow {
    background-color: #8FBC8F;
    line-height: 24px;
}

tr.mutantAlleleH {
    background-color: #BBEEEE;
}

tr.mutantAllele {
    background-color: #AADDDD;
}

tr.TransgenicH {
    background-color: #EEBBEE;
}

tr.Transgenic {
    background-color: #CC99CC;
}

tr.InbredH {
    background-color: #BBBBEE;
}

tr.Inbred {
    background-color: #AAAADD;
}

tr.InbredAlt {
    background-color: #AAAAEE;
}

tr.formFieldH {
    background-color: #133d34;
    color: white;
    font-size: 25px !important;
    height: 60px;
}

.formHeaderCell {
    width: 100%;
    text-align: center;
    border: solid 1px black;
    height: 60px "
}

.formRightButtonSelect {
    width: 222.8px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    text-align: left
}

.formTopButton {
    width: 100%;
    float: left;
    margin-top: 13px;
    text-align: left;
}

.formMidButton {
    width: 100%;
    float: left;
    text-align: left;
}

.formBottomButton {
    width: 100%;
    float: left;
    margin-bottom: 13px;
    text-align: left;
}

.formInput {
    border: solid 1px black;
}

tr.formField {
    background-color: #FFFFFF;
}

.formLeft {
    background-color: #133d34;
    font-size: 19px;
    width: 15%;
    color: white;
    padding: 0px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    height: 60px;
    text-align: right;
    padding-right: 10px;
}

.formRight {
    background-color: #FFFFFF;
    font-size: 17px;
    width: 20%;
    color: black;
    padding: 0px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    height: 60px;
    text-align: center;
}

tr.formFieldAlt {
    background-color: #FFFFFF;
}

.formbody {
}

.introduction {
    background-color: #FFE7BA;
    padding: 5px;
    margin: 2px;
}

tr.mouselistH {
    font-size: 14pt;
    background-color: #133d34;
    color: #FFFFFF;
}

tr.mouselist {
    background-color: #FFFFFF;
}

tr.mouselistAlt {
    background-color: #ccccccff;
}

tr.submissionlistH {
    font-size: 14pt;
    background-color: #E9967A;
}

tr.submissionlist {
    background-color: #FEEED4;
}

tr.submissionlistAlt {
    background-color: #FFFFD4;
}

tr.changerequestlistH {
    font-size: 14pt;
    color: white;
    background-color: #00688B;
}

tr.changerequestlist {
    background-color: #f4ecf6;
}

tr.changerequestlistAlt {
    background-color: #e6f2f8;
}

.facilityTable {
    width: 100%;
    border-spacing: 0px;
}

.facilityTableInside {
    width: 100%;
    border-spacing: 0px;
    /*border-left: solid 1px black;*/

}

tr.facilitylistH {
    font-size: 14pt;
    background-color: #133d34;
}

tr.facilitylist {
    background-color: #FFFFFF;
}

tr.facilitylistAlt {
    background-color: #ccccccff;
}

.facilityItemLink {
    color: black;
    text-decoration: underline;
}

.facilitylistItemLeft {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    font-size: 16px;
    height: 25px;
    color: black;
}

.facilitylistItemRight {
    border-right: solid 1px black;
    border-bottom: solid 1px black;

    font-size: 16px;
    height: 25px;
    color: black;
}

.facilitylistHeaderLeft {
    width: 75%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: none;
    border-top: solid 1px black;
    border-right: solid 1px black;

}

.facilitylistHeaderRight {
    width: 25%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: none;
}

.holderTable {
    width: 100%;
    border-spacing: 0px;
}

.holderTableInside {
    width: 100%;
    border-spacing: 0px;
    border-left: solid 1px black;
}

td.holderHeaderCell {
    width: 16%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.holderItemCell {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 16px;
    height: 25px;
    color: black;
}

.holderName {
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

.holderLocation {
    font-size: 16px;
    display: inline;
}

.holderItemLink {
    color: black;
    text-decoration: underline;

}

tr.holderlist {
    background-color: #FFFFFF;
}

tr.holderlistAlt {
    background-color: #ccccccff;
}


table.editMouseParent {
    width: 100%;
    padding: 0px;
}

table.editMouseColumn {
    width: 100%;
    padding: 0px;
}

div.editMouseFormContainer {

}

div.editMouseFormLeftColumn {
    float: left;
    width: 50%;
}

div.editMouseFormRightColumn {
    float: left;
    width: 50%;
}

tr.editMouseRow {
    background-color: #E7EDEC;
}

dl {
    margin: 0px;
}

.mouseName {
    font-size: 16px;
    font-weight: bold;
}

.mouseType {
    font-weight: bold;
}

.innertable {
    height: 100%;
    align: left;
}

.firstColumn {
    width: 45%;
}

.validationError {
    color: red;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 14pt;
}

td {
    padding: 3px;
}

th {
    font-size: 14pt;
}

.header2 {
    font-size: 16pt;
    font-weight: bold;
}

.header3 {
    font-size: 12pt;
    font-weight: bold;
}

.whatsnew {
    float: right;
    width: 35%;
    margin-right: 10px;
}

.whatsnew h3:nth-child(1) {
    margin-top: 5px;
}

.about {
    float: left;
    width: 60%;
}

.about-summary {
    margin-top: 5px;
    border: 1px solid #F0D5A4;
    background-color: #F8F8E1;
    padding: 10px;
    border-radius: 5px;
    moz-border-radius: 5px;
}

.about-summary h2:nth-child(1) {
    margin-top: 0px;
}


.about-summary ol a {
    font-size: 120%;
}

.borderbox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px;
}

table.inputForm {
    width: 55%;
    margin-left: 0px;
    margin-right: auto;
    border-spacing: 0px
}

.geneSymbol {
    font-weight: bold;
}

.geneName {

}

.geneTable {
    width: 100%;
    border-spacing: 0px;
}

.geneTableInside {
    width: 100%;
    border-spacing: 0px;
    border-left: solid 1px black;
}

.genelistHeaderLeft {
    width: 75%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: none;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

.genelistHeaderRight {
    width: 25%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: none;
}

.genelistItem {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 16px;
    height: 25px;
    color: black;
}

.geneItemLink {
    color: black;
    text-decoration: underline;
}

.endangered {
    font-weight: bold;
    color: red;
}

.mgiGeneLink {
}


div.reportBody {

}

div.reportEntry {
    background-color: #F5F5DC;
    padding: 3px;
}

div.reportEntryAlt {
    background-color: #EED5B7;
    padding: 3px;
}

span.rawRecord {
    font-size: 11px;
    font-family: monospace;
    line-height: 12px;
    display: none;
}

span.importAction {
    font-weight: bold;
}

div.holderData {

    line-height: 14px;
}

div.holderNotice {
    font-size: 11px;
    border: thin solid black;
    padding: 3px;
    margin-bottom: 3px;
}

span.boldheading {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

span.importStatusTitle {
    font-size: 16px;
    font-weight: 700;
}

span.importStatusHeader {
    font-size: 14px;
    font-weight: 600;
}

span.progressPercentange {
    margin-left: 3px;
    text-decoration: italic;
}

span.historyMessage {
    margin-left: 3px;
    line-height: 12px;
    font-size: 10px;
}

span.historyTimestamp {
    font-weight: 700;
    font-size: 10px;
}

div.importHistory {
    border: 1px solid;
    height: 300px;
    line-height: 15px;
    margin-bottom: 20px;
    overflow: auto;
    width: 750px;
}

div.help_pdf {
    position: relative;
    width: 180px;
    text-align: center;
    font-size: 1.2em;
    background-color: lightBlue;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.help_pdf:hover {
    background-color: lightCyan;
}

div.help_pdf a {
    text-decoration: none;
}

span.full_div_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

span.red {
    color: red;
}

.mouseTable td {

}

td.mouselistcolumn-name-header {
    width: 11%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

td.mouselistcolumn-submissioninfo-header {
    width: 11%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

td.mouselistcolumn-category-header {
    width: 19%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.mouselistcolumn-details-header {
    width: 19%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.mouselistcolumn-comment-header {
    width: 37%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.mouselistcolumn-files-header {
    width: 6%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.mouselistcolumn-holders-header {
    width: 10%;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.mouselistcolumn-name {
    width: 11%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.mouselistcolumn-category {
    width: 19%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.mouselistcolumn-details {
    width: 19%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.mouselistcolumn-comment {
    width: 37%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.mouselistcolumn-files {
    width: 6%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.mouselistcolumn-holders {
    width: 10%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}



td.submissioncolumn-name-header {
    width: 10% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

td.submissioncolumn-submissioninfo-header {
    width: 17.5% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.submissioncolumn-category-header {
    width: 15% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.submissioncolumn-details-header {
    width: 17.5% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.submissioncolumn-comment-header {
    width: 30% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.submissioncolumn-holders-header {
    width: 10% !important;
    height: 35px;
    font-size: 20px;
    color: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

td.submissioncolumn-name {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.submissioncolumn-submissioninfo {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.submissioncolumn-category {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.submissioncolumn-details {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.submissioncolumn-comment {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}

td.submissioncolumn-holders {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 14px;
    height: 25px;
    color: black;
}



.search-box {
    vertical-align: middle;
    /*text-align: center;*/
}

.search-box a {
    text-decoration: none;
    color: blue;
}

.search-box a:visited {
    color: blue;
}

.search-box-small {
    text-align: left;
    margin-top: 3px;
}

.search-box-small img {
    width: 100px;
    float: left;
}

.search-box-small img.woodmouse {
    width: 100px !important;
    float: left;
}

.search-box-small .search-box-inner {
    /*width:530px;*/
}

.search-box-small .search-box-inner input,
.search-box-small .search-box-inner button {
    margin-bottom: 5px;
}

.search-box img.woodmouse {
    padding-right: 50px;
    width: 250px;
}

.search-box-small img.woodmouse {
    padding-right: 0px;
}

img.MDBlogo {
    padding-right: 50px;


}


.search-box input[type=text] {
    margin-left: 60px;
}

.search-box-small input[type=text] {
    margin-left: 0px;
}

.search-instructions dt {
    font-family: courier;
    font-size: 115%;
    font-weight: bold;
}

.search-instructions dd {
    font-style: italic;
}

.search-instructions {
    width: 500px;
    display: none;
    text-align: left;
    margin: auto;
}

.search-box-small .search-instructions {
    width: 500px;
    text-align: left;
    margin-left: 104px;
}

.search-box-small .search-instructions-show {
    float: right;
}

.searchresults-mice {
    margin-bottom: 15px;
}

.search-resultcount {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    float: left;
    width: 100%
}

.search-resultcount-comment {
    font-size: 9pt;
}

.search-strategy-comment {
    font-size: 9pt;
    font-style: normal;
}

.search-strategy-header {
    font-size: 16pt;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

.search-strategy-show-details {
    font-size: 8pt;
    font-style: italic;
    margin-left: 10px;
    color: #05F;
}

.search-strategy-details {
    font-size: 9pt;
    width: 500px;
    display: none;
}

.quality-good {
    color: #008000;
}

.quality-ok {
    color: yellowgreen;
}

.quality-poor {
    color: darkgoldenrod;
}

.quality-bad {
    color: darkred;
}

div.centered {
    text-align: center;
}

form.centered-left {
    margin: auto;
    text-align: left
}

/* overriding bootstrap */
input[type="image"], input[type="checkbox"], input[type="radio"] {
    margin-right: 3px;
}

.highlight-searchterm {
    /*color: #EE2BAD;*/
    /*font-weight: bold;*/

}

.search-load-message {
    font-size: 16pt;
    color: black;
    /*padding-top: 3px;*/
    padding-bottom: 3px;
}

.pagination-container a {
    text-decoration: none;
}

.pagination-container {
    clear: both;
    padding: 5px;
}

.pagination-container > div {
    float: left;
    margin-right: 10px;
}

.searchtips p {
    font-style: italic;
    font-size: 14px;
}


.upload-tdu {
    color: blue;
}

.upload-pdu {
    color: green;
}

.upload-idu {
    color: red;
}

.import_section.obscured {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.modal input[type=text] {
    width: 400px;
}

.emailTemplateForm td {
    vertical-align: top;
}

.emailTemplateForm input[type=text],
.emailTemplateForm textarea {
    width: 790px;
}

.emailTemplateForm textarea {
    height: 100px;
}

.emailTemplateForm select {
    width: 200px;
}

table.email_template_template {
    width: 100%;
}

table.email_template_template > tbody > tr > td:nth-child(1) {
    width: 55px;
    text-align: right;
}

table.email_template_template > tbody > tr > td:nth-child(2) {
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;
}

table.basic {
    width: 100%;
}

table.basic th {
    background-color: #89bbe2;
    text-align: left;
    font-weight: normal;
    padding: 4px;
}

table.basic td {
    vertical-align: top;
}

table.basic > tbody > tr:nth-child(even) > td {
    background-color: #E7EDEC;
}

table.basic > tbody > tr:nth-child(odd) > td {
    background-color: #E2E9DB;
}

.template_help dt {
    font-weight: bold;
}

#sendMailContainer {
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

#sendMailContainer input[type='text'],
#sendMailContainer textarea {
    width: 800px;
}

#sendMailContainer td {
    vertical-align: top;
}

.cf:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


html[xmlns] .cf {
    display: block;
}

* html .cf {
    height: 1%;
}

div.mousetype_selection_links {
    width: 100%;
}

div.mousetype_selection_links > ul {
    padding: 0;
}

div.mousetype_selection_links > ul > li {
    list-style-type: none;
    margin: 6px 0;
}

div.mousetype_selection_links > ul > li input[type=checkbox],
div.mousetype_selection_links > ul > li input[type=submit],
div.mousetype_selection_links > ul > li select {
    float: right;
}

tbody.sorting td {
    cursor: move;
}


#template_category {
    font-size: 80%;
    display: block;
}

a.email_sent {
    font-style: italic;
    color: grey;
}

a.view_sent {
    font-size: 12px;
}

.covert_tag {
    font-weight: bold;
    color: red;
}

.settings_list {
    margin-left: 20px;
}

.settings_list a {
    font-size: 110%;
}

.settings_list dd {
    margin: 6px 0;
}

.about_container {


    text-align: center;
    min-width: 1280px;
}

.about_welcome {

    margin-bottom: 5px;
}

.about_welcome h1 {
    font-weight: 400;
    padding: 10px;
}

.about_banner {
    text-align: center;

}

.about_banner .iwanna {
    font-size: 14px;
    padding: 10px;
}

.about_banner .primary_actions {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.about_banner .primary_actions a {
    text-align: center;
    display: inline-block;
    width: 28%;
    padding: 20px 0px;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid #336699;
    border-radius: 10px;
    text-decoration: none;
}

.about_banner .primary_actions a i {
    color: blue !important;
}

.about_banner .primary_actions a span:hover {
    text-decoration: underline;
    color: blue;
}

.about_banner a [class^="icon-"] {
    font-size: 40px;
    display: block;
    padding: 10px;
}

.about_manuals {
    margin-bottom: 60px;
}

.about_new .category {
    margin-bottom: 40px;
}


.about_new .new_item {
    text-align: center;
    display: inline-block;
    width: 40%;
    margin: 15px;
    vertical-align: top;
    padding: 10px;
    border-radius: 10px;
}

.about_new .category.three_columns .new_item {
    width: 26%;
}

.about_footer {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

.category > .three_column_left > .new_item,
.category > .three_column_center > .new_item,
.category > .three_column_right > .new_item {
    width: 85%;
}

.two_column_left > .new_item,
.two_column_right > .new_item {
    width: 90%;
}

.one_column_center > .new_item {
    width: 95%;
}

.one_column_center_two_thirds > .new_item {
    width: 85%;
}

.category .three_column_left {
    width: 33%;
    float: left;
    clear: left;
}

.category .three_column_center {
    width: 33%;
    float: left;
}

.category .three_column_right {
    width: 33%;
    float: right;
}

.category .two_column_left {
    width: 50%;
    float: left;
}

.category .two_column_right {
    width: 50%;
    float: right;
}

.category .one_column_center {
    width: 100%;
}

.category .one_column_center_two_thirds {
    width: 60%;
    margin: auto;
}

#about_details {
    text-align: left;
}

#about_details .content {
    margin-bottom: 50px;
}

.about_container {
    text-align: center;
}

.about_container h3 {
    font-size: 17px;
    padding-bottom: 4px;
    border-bottom: 1px dotted lightgrey;
    margin-bottom: 0;
}

.deadbeat_holder {
    background-color: rgba(230, 0, 0, 0.4);
}


.change_request_form > ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.change_request_form > ul > li input[type=radio] {
    display: none;
}

.change_request_form > ul > li {
    margin: 8px;
    float: left;
    margin: 0 10px 0 0;
}

.change_request_form .form_controls {
    padding: 10px;
}

.change_request_form .form_controls ul {
    list-style-type: none;
    padding: 0px;
}

.change_request_form .form_controls ul > li {
    margin: 3px 3px 3px 10px;
    padding: 3px;
}

.well > .h3 {
    margin-top: 0;
}

.deadbeat_holder,
.deadbeat_holder td {
    background-color: rgba(230, 0, 0, 0.4);
}

.change_request_form > ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.change_request_form > ul > li input[type=radio] {
    display: none;
}

.change_request_form > ul > li {
    margin: 8px;
    float: left;
}

.change_request_form .form_controls {
    padding: 10px;
}

.change_request_form .form_controls ul {
    list-style-type: none;
    padding: 0px;
}

.change_request_form .form_controls ul > li {
    margin: 3px 3px 3px 10px;
    padding: 3px;
}

.well > .h3 {
    margin-top: 0;
}

.deadbeat_holder {
    background-color: rgba(230, 0, 0, 0.4);
}


table.form_table td {
    vertical-align: top;
}

.form_invalid > .details {
    font-weight: bold;
    color: #F11C1C;

}

.main_header {
    font-size: 36px;
    color: black;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.button_body_text {
    text-align: center;
    font-size: 16px;
    color: black;
}

.description_text {
    font-size: 15px;
    color: black;
}

.formButtonText {
    font-size: 17px;
    display: inline;
    color: black;
}

.label_text {
    font-size: 16px;
    color: black;
}

.MSU_green_button {
    background-color: #18453B;
    width: 32%;
    height: 45px;
    border: black;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MSU_green_button_next_previous {
    background-color: #18453B;
    width: 85px;
    height: 35px;
    border: black;
    border-style: solid;
    border-width: 3px;
}

.MSU_green_button_next_previous_disabled {
    background-color: #18453B;
    width: 85px;
    height: 35px;
    border: #4c4c4c;
    border-style: solid;
    border-width: 3px;
    opacity: 65%;
}

.MSU_green_button_next_previous_text {
    margin: auto;
    width: 100%;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 18px;
}


.MSU_green_button_Text {
    height: 100%;
    margin: auto;
    padding: 13px;
    text-align: center;
    color: white;
    font-size: 18px;
}


.anchor_no_underline {
    text-decoration: none;
    color: white;
}

.anchor_no_underline:hover {
    text-decoration: none;
}

.MSU_footer {
    background-color: #113D34;
    height: 95px;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 0px;
    min-width: 1280px;
    position: absolute;
    bottom: 0;
}

.MSU_footer_text {
    padding: 15px;
    margin-top: 0px;
    color: white;
    font-size: 16px;
}

.spacing_div {
    height: 100px;
    width: 100%;

    min-width: 1280px;

    overflow: hidden;
}

.spacing_div_mini {
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.spacing_div_minix2 {
    height: 12px;
    width: 100%;
    overflow: hidden;
}


.dropdown_left {
    font-size: 16px;
    display: inline;
    color: black;
}


.search_right {
    float: right;
    margin: 0 0 0 0px;
}

.x_clear {
}

.records_header {
    font-size: 36px;
    color: black;
    line-height: 36px;
    margin-block-end: 0.25em;
    margin-block-start: 0.5em
}

.homepage_label {
    color: white;
    font-size: 55px;
    line-height: 55px;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.homepage_text {
    color: white;
    font-size: 44px;
    line-height: 44px;
    margin-block-start: 0em;
}


.homepage_text_bold {
    color: white;
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    margin-block-end: 0em;
}

.MSU_green_button_transparent {
    background-color: #25252591;
    width: 350px;
    height: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 1470px) {
    .homepage_label {
        color: white;
        font-size: 66px;
        line-height: 66px;
        margin-block-start: 0em;
        margin-block-end: 0.5em;
    }

    .homepage_text {
        color: white;
        font-size: 51px;
        line-height: 51px;
        margin-block-start: 0em;
    }

    .homepage_text_bold {
        color: white;
        font-size: 51px;
        font-weight: bold;
        line-height: 51px;
        margin-block-end: 0em;
    }

    .MSU_green_button_transparent {
        background-color: #25252591;
        width: 400px;
        height: 105px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.homepage_image {
    margin-left: auto;
    height: 60px;
    margin-right: auto;
    display: block;
    padding-top: 5px;
}


.MSU_green_button_transparent_text {
    height: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 17px;
}


.MSU_sidebar_button {
    background-color: #18453B;
    width: 85%;
    height: 40px;
    border: black;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-left: 30px;
    margin-bottom: 10px;
}

.sidebar_desc {
    width: 69%;
    overflow-y: auto;
    height: 350px;
    border: solid 1px black;
    background-color: #8080806e;
}

.sidebar_text {
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 3px;
    padding-right: 6px;
    color: black;
    font-size: 15px;
}

.block_description_text {
    font-size: 15px;
    color: black;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.block_label_text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.block_form_desc_text {
    font-size: 16px;
    color: black;
    margin-block-end: 0em;
    margin-block-start: 0em;
    display: inline;
}

.block_form_label_text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-block-end: 0em;
    margin-block-start: 0em;
    display: inline;
}

.MSU_back_button {
    background-color: #da3c2f;
    width: 32%;
    height: 45px;
    border: black;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-right: auto;
    margin-left: -3px;
    float: left;
}

.dropdown {
    position: absolute;
    z-index: 9999;
    width: 135px;
    cursor: default;
    height: 60px;
    display: block;
    /*border-right: 1px solid #FFFFFF;*/
    margin-bottom: 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .navBarAnchor {
    filter: brightness(0.5)
}

.dropdown-content {
    display: none;
    width: 135px;
    cursor: pointer;
}

.navLinkDropdown {
    padding: 0;
    background-color: #18453B;
    height: 50px;

    list-style-type: none;
    float: left;
}

.navLinkDropdown:hover {
    filter: brightness(0.9);
}

.adminNavLinkDropdown {
    padding: 0;
    background-color: #18453B;
    height: 50px;

    list-style-type: none;
    float: left;
}

.adminNavLinkDropdown:hover {
    filter: brightness(0.9);
}

.dropdownBorder {
    width: 135px;
    height: 60px;
    margin-top: -20px;
}

.dropdownBorder:hover {
    background-color: #18453B;
}

a.navBarAnchor_noTint {
    /*padding: 0 12px;*/
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

a.navBarAnchor_noTint:hover {
    /*filter: brightness(0.5);*/
}

a.navBarAnchor_noTint:link {
    text-decoration: none;
    color: #FFFFFF;
}

a.navBarAnchor_noTint:visited {
    color: #FFFFFD;
    text-decoration: none;
}

.dropImage {

}

.dropdown:hover .dropImage {
    filter: brightness(0.5)
}

.table_bot_left{
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}
.table_bot_right{
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
}
.table_bot_mid{
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}
.table_top_left{
border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: 90px;
}
.table_top_right{
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: 90px;
}
.table_top_mid{
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: 90px;
}

.adminHomeTable{
    width: 95%;
    border-spacing: 0px;
}

.adminHomeTableInside{
    width: 100%;
    border-spacing: 0px;
}

.adminHomeTableHeader{
    background-color: #133d34;
    color: white;
    font-size: 20px !important;
    height: 35px;
    text-align: center;
    border: solid 1px black;
}

.adminButtonText{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 15px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.adminButton{
    background-color: #18453B;
    width: 90%;
    height: 25px;
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
}

.adminTableLeftTd{
    font-size:15px;
    color:black;
    width: 75%;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.adminTableRightTd{
border-right: solid 1px black;
    border-bottom: solid 1px black;
}